@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .5px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 10, 10);
  min-height: 100vh;
  color: #eaeaea;
}

.container{
  width: 90%;
  background-color: rgb(4, 4, 4);
  padding: 1.5rem;
  margin: 3rem 0rem;
  border-radius: 10px;
}

.header{
  text-align: center;
}

.header img{
  width: 7rem;
  margin-bottom: 1.5rem;
}

h1, h2{
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

span{
  color: #C28E3C;
  font-weight: 600;
}

hr{
  margin-bottom: 2rem;
  background-color: #C28E3C;
  height: 3px;
  border: 0;
  border-radius: 8px;
}

p{
  font-size: 1.2rem;
  margin-left: 1.1rem;
  margin-bottom: .6rem;
}

input[type="text"],
input[type="email"]{
  width: 100%;
  padding: .8rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  background-color: rgb(4, 4, 4);
  color: #eaeaea;
  border-radius: 50px;
  outline: none;
}

select{
  width: 100%;
  min-height: 2.75rem;
  padding: .8rem;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  background-color: rgb(4, 4, 4);
  color: #eaeaeabb;
  border-radius: 50px;
  outline: none;
}

.conheceu{
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

input[type="checkbox"]{
  margin-bottom: .7rem;
}

.check_conheceu{
  margin-left: 2rem;
}

input[type="submit"] {
  background-color: #C28E3C;
  color: rgb(4, 4, 4);
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  padding: .8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s;
}

input[type="submit"]:hover{
  background-color: #ac7929;
  color: #eaeaea;
}

@media screen and (min-width: 800px){
  .container{
    max-width: 30rem;
  }
}
