header{
    background-color: #0a0909;
    background-image: url(../assets/bg/bg_header.webp);
    background-position: 30% center;
    color: var(--color-primary);
}

.card-produtos img{
    width: 17rem;
}

@media screen and (min-width: 800px){
    .card-produtos img{
    width: 21rem;
    }
}